:root {
	/* To get dark input controls */
	color-scheme: dark;
	--spinner: url('data:image/svg+xml,<svg width="36" height="36" fill="%23ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_ajPY{transform-origin:center;animation:spinner_AtaB .75s infinite linear}@keyframes spinner_AtaB{100%{transform:rotate(360deg)}}</style><path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" opacity=".25"/><path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z" class="spinner_ajPY"/></svg>');
}

:root {
	--topicTag-borderColor: #409eff;
	--highlight-neutral-bgColor: #f0b72f66;
	--page-header-bgColor: #010409;
	--diffBlob-addition-fgColor-text: #ffffff;
	--diffBlob-addition-fgColor-num: #ffffff;
	--diffBlob-addition-bgColor-num: #28d7514d;
	--diffBlob-addition-bgColor-line: #0ac74026;
	--diffBlob-addition-bgColor-word: #006222;
	--diffBlob-deletion-fgColor-text: #ffffff;
	--diffBlob-deletion-fgColor-num: #ffffff;
	--diffBlob-deletion-bgColor-num: #ff80804d;
	--diffBlob-deletion-bgColor-line: #ff808026;
	--diffBlob-deletion-bgColor-word: #ad0116;
	--diffBlob-hunk-bgColor-num: #5cacff66;
	--diffBlob-expander-iconColor: #ffffff;
	--codeMirror-fgColor: #ffffff;
	--codeMirror-bgColor: #010409;
	--codeMirror-gutters-bgColor: #010409;
	--codeMirror-gutterMarker-fgColor-default: #010409;
	--codeMirror-gutterMarker-fgColor-muted: #b7bdc8;
	--codeMirror-lineNumber-fgColor: #b7bdc8;
	--codeMirror-cursor-fgColor: #ffffff;
	--codeMirror-selection-bgColor: #5cacff66;
	--codeMirror-activeline-bgColor: #212830;
	--codeMirror-matchingBracket-fgColor: #ffffff;
	--codeMirror-lines-bgColor: #010409;
	--codeMirror-syntax-fgColor-comment: #656c76;
	--codeMirror-syntax-fgColor-constant: #91cbff;
	--codeMirror-syntax-fgColor-entity: #dbb7ff;
	--codeMirror-syntax-fgColor-keyword: #ff9492;
	--codeMirror-syntax-fgColor-storage: #ff9492;
	--codeMirror-syntax-fgColor-string: #addcff;
	--codeMirror-syntax-fgColor-support: #91cbff;
	--codeMirror-syntax-fgColor-variable: #ffb757;
	--header-fgColor-default: #ffffffb3;
	--header-fgColor-logo: #f0f6fc;
	--header-bgColor: #151b23f2;
	--header-borderColor-divider: #656c76;
	--headerSearch-bgColor: #0d1117;
	--headerSearch-borderColor: #2a313c;
	--data-blue-color-emphasis: #0576ff;
	--data-blue-color-muted: #001a47;
	--data-auburn-color-emphasis: #a86f6b;
	--data-auburn-color-muted: #271817;
	--data-orange-color-emphasis: #984b10;
	--data-orange-color-muted: #311708;
	--data-yellow-color-emphasis: #895906;
	--data-yellow-color-muted: #2e1a00;
	--data-green-color-emphasis: #2f6f37;
	--data-green-color-muted: #122117;
	--data-teal-color-emphasis: #106c70;
	--data-teal-color-muted: #041f25;
	--data-purple-color-emphasis: #975bf1;
	--data-purple-color-muted: #211047;
	--data-pink-color-emphasis: #d34591;
	--data-pink-color-muted: #2d1524;
	--data-red-color-emphasis: #eb3342;
	--data-red-color-muted: #3c0614;
	--data-gray-color-emphasis: #576270;
	--data-gray-color-muted: #1c1c1c;
	--display-blue-bgColor-muted: #001a47;
	--display-blue-bgColor-emphasis: #0046a8;
	--display-blue-fgColor: #85c2ff;
	--display-blue-borderColor-muted: #002766;
	--display-blue-borderColor-emphasis: #4da0ff;
	--display-green-bgColor-muted: #122117;
	--display-green-bgColor-emphasis: #285830;
	--display-green-fgColor: #75d36f;
	--display-green-borderColor-muted: #182f1f;
	--display-green-borderColor-emphasis: #41b445;
	--display-orange-bgColor-muted: #311708;
	--display-orange-bgColor-emphasis: #7b3c0e;
	--display-orange-fgColor: #f6b06a;
	--display-orange-borderColor-muted: #43200a;
	--display-orange-borderColor-emphasis: #ed8326;
	--display-purple-bgColor-muted: #211047;
	--display-purple-bgColor-emphasis: #5b1cca;
	--display-purple-fgColor: #d2affd;
	--display-purple-borderColor-muted: #31146b;
	--display-purple-borderColor-emphasis: #b687f7;
	--display-plum-bgColor-muted: #2a0e3f;
	--display-plum-bgColor-emphasis: #7517ab;
	--display-plum-fgColor: #e4a5fd;
	--display-plum-borderColor-muted: #40125e;
	--display-plum-borderColor-emphasis: #d07ef7;
	--display-red-bgColor-muted: #3c0614;
	--display-red-bgColor-emphasis: #990f24;
	--display-red-fgColor: #f7adab;
	--display-red-borderColor-muted: #58091a;
	--display-red-borderColor-emphasis: #f27d83;
	--display-coral-bgColor-muted: #3c0614;
	--display-coral-bgColor-emphasis: #902a0e;
	--display-coral-fgColor: #fdaa86;
	--display-coral-borderColor-muted: #58091a;
	--display-coral-borderColor-emphasis: #f7794b;
	--display-yellow-bgColor-muted: #2e1a00;
	--display-yellow-bgColor-emphasis: #6d4403;
	--display-yellow-fgColor: #edb431;
	--display-yellow-borderColor-muted: #3d2401;
	--display-yellow-borderColor-emphasis: #d3910d;
	--display-gray-bgColor-muted: #1c1c1c;
	--display-gray-bgColor-emphasis: #474e57;
	--display-gray-fgColor: #b3c0d1;
	--display-gray-borderColor-muted: #2a2b2d;
	--display-gray-borderColor-emphasis: #92a1b5;
	--display-auburn-bgColor-muted: #271817;
	--display-auburn-bgColor-emphasis: #6d4340;
	--display-auburn-fgColor: #d4b7b5;
	--display-auburn-borderColor-muted: #3a2422;
	--display-auburn-borderColor-emphasis: #bf9592;
	--display-brown-bgColor-muted: #241c14;
	--display-brown-bgColor-emphasis: #5d4a32;
	--display-brown-fgColor: #cdbb98;
	--display-brown-borderColor-muted: #342a1d;
	--display-brown-borderColor-emphasis: #b69a6d;
	--display-lemon-bgColor-muted: #291d00;
	--display-lemon-bgColor-emphasis: #614c05;
	--display-lemon-fgColor: #d7bc1d;
	--display-lemon-borderColor-muted: #372901;
	--display-lemon-borderColor-emphasis: #ba9b12;
	--display-olive-bgColor-muted: #171e0b;
	--display-olive-bgColor-emphasis: #485219;
	--display-olive-fgColor: #cbc025;
	--display-olive-borderColor-muted: #252d10;
	--display-olive-borderColor-emphasis: #a2a626;
	--display-lime-bgColor-muted: #141f0f;
	--display-lime-bgColor-emphasis: #375421;
	--display-lime-fgColor: #9fcc3e;
	--display-lime-borderColor-muted: #1f3116;
	--display-lime-borderColor-emphasis: #7dae37;
	--display-pine-bgColor-muted: #082119;
	--display-pine-bgColor-emphasis: #115a3e;
	--display-pine-fgColor: #1bda81;
	--display-pine-borderColor-muted: #0b3224;
	--display-pine-borderColor-emphasis: #1bb673;
	--display-teal-bgColor-muted: #041f25;
	--display-teal-bgColor-emphasis: #0c555a;
	--display-teal-fgColor: #24d6c4;
	--display-teal-borderColor-muted: #073036;
	--display-teal-borderColor-emphasis: #1cb0ab;
	--display-cyan-bgColor-muted: #001f29;
	--display-cyan-bgColor-emphasis: #02536f;
	--display-cyan-fgColor: #45cbf7;
	--display-cyan-borderColor-muted: #002e3d;
	--display-cyan-borderColor-emphasis: #07ace4;
	--display-indigo-bgColor-muted: #1b183f;
	--display-indigo-bgColor-emphasis: #3935c0;
	--display-indigo-fgColor: #b7baf6;
	--display-indigo-borderColor-muted: #25215f;
	--display-indigo-borderColor-emphasis: #9899ec;
	--display-pink-bgColor-muted: #2d1524;
	--display-pink-bgColor-emphasis: #842a5d;
	--display-pink-fgColor: #f4a9cd;
	--display-pink-borderColor-muted: #451c35;
	--display-pink-borderColor-emphasis: #e57bb2;
	--avatar-bgColor: #ffffff1a;
	--avatar-borderColor: #ffffffe6;
	--avatar-shadow: 0px 0px 0px 2px #0d1117;
	--avatarStack-fade-bgColor-default: #3d444d;
	--avatarStack-fade-bgColor-muted: #2a313c;
	--control-bgColor-rest: #262c36;
	--control-bgColor-hover: #2a313c;
	--control-bgColor-active: #2f3742;
	--control-bgColor-disabled: #262c36;
	--control-bgColor-selected: #262c36;
	--control-fgColor-rest: #ffffff;
	--control-fgColor-placeholder: #b7bdc8;
	--control-fgColor-disabled: #9198a199;
	--control-borderColor-rest: #b7bdc8;
	--control-borderColor-emphasis: #b7bdc8;
	--control-borderColor-disabled: #9198a11f;
	--control-borderColor-selected: #f0f6fc;
	--control-borderColor-success: #09b43a;
	--control-borderColor-danger: #ff6a69;
	--control-borderColor-warning: #e09b13;
	--control-iconColor-rest: #b7bdc8;
	--control-transparent-bgColor-rest: #00000000;
	--control-transparent-bgColor-hover: #2f3742;
	--control-transparent-bgColor-active: #3d444d;
	--control-transparent-bgColor-disabled: #262c36;
	--control-transparent-bgColor-selected: #2f3742;
	--control-transparent-borderColor-rest: #00000000;
	--control-transparent-borderColor-hover: #b7bdc8;
	--control-transparent-borderColor-active: #b7bdc8;
	--control-danger-fgColor-rest: #ff9492;
	--control-danger-fgColor-hover: #ff9492;
	--control-danger-bgColor-hover: #ad0116;
	--control-danger-bgColor-active: #c51120;
	--control-checked-bgColor-rest: #194fb1;
	--control-checked-bgColor-hover: #2b64c1;
	--control-checked-bgColor-active: #3c79d0;
	--control-checked-bgColor-disabled: #9198a199;
	--control-checked-fgColor-rest: #ffffff;
	--control-checked-fgColor-disabled: #010409;
	--control-checked-borderColor-rest: #91cbff;
	--control-checked-borderColor-hover: #91cbff;
	--control-checked-borderColor-active: #91cbff;
	--control-checked-borderColor-disabled: #9198a199;
	--controlTrack-bgColor-rest: #2a313c;
	--controlTrack-bgColor-hover: #2f3742;
	--controlTrack-bgColor-active: #3d444d;
	--controlTrack-bgColor-disabled: #9198a199;
	--controlTrack-fgColor-rest: #ffffff;
	--controlTrack-fgColor-disabled: #ffffff;
	--controlTrack-borderColor-rest: #b7bdc8;
	--controlTrack-borderColor-disabled: #9198a199;
	--controlKnob-bgColor-rest: #010409;
	--controlKnob-bgColor-disabled: #262c36;
	--controlKnob-bgColor-checked: #ffffff;
	--controlKnob-borderColor-rest: #b7bdc8;
	--controlKnob-borderColor-disabled: #262c36;
	--controlKnob-borderColor-checked: #194fb1;
	--counter-borderColor: #b7bdc8;
	--counter-bgColor-muted: #212830;
	--counter-bgColor-emphasis: #3d444d;
	--button-default-fgColor-rest: #ffffff;
	--button-default-bgColor-rest: #262c36;
	--button-default-bgColor-hover: #2a313c;
	--button-default-bgColor-active: #2f3742;
	--button-default-bgColor-selected: #2f3742;
	--button-default-bgColor-disabled: #262c36;
	--button-default-borderColor-rest: #b7bdc8;
	--button-default-borderColor-hover: #b7bdc8;
	--button-default-borderColor-active: #b7bdc8;
	--button-default-borderColor-disabled: #9198a11f;
	--button-default-shadow-resting: 0px 0px 0px 0px #000000;
	--button-primary-fgColor-rest: #ffffff;
	--button-primary-fgColor-disabled: #ffffff66;
	--button-primary-iconColor-rest: #ffffff;
	--button-primary-bgColor-rest: #006222;
	--button-primary-bgColor-hover: #08792b;
	--button-primary-bgColor-active: #109135;
	--button-primary-bgColor-disabled: #048f2f;
	--button-primary-borderColor-rest: #4ae168;
	--button-primary-borderColor-hover: #4ae168;
	--button-primary-borderColor-active: #4ae168;
	--button-primary-borderColor-disabled: #4ae16866;
	--button-primary-shadow-selected: 0px 0px 0px 0px #000000;
	--button-invisible-fgColor-rest: #ffffff;
	--button-invisible-fgColor-hover: #ffffff;
	--button-invisible-fgColor-disabled: #9198a199;
	--button-invisible-iconColor-rest: #d1d7e0;
	--button-invisible-iconColor-hover: #d1d7e0;
	--button-invisible-iconColor-disabled: #9198a199;
	--button-invisible-bgColor-rest: #00000000;
	--button-invisible-bgColor-hover: #151b23;
	--button-invisible-bgColor-active: #212830;
	--button-invisible-bgColor-disabled: #262c36;
	--button-invisible-borderColor-rest: #00000000;
	--button-invisible-borderColor-hover: #b7bdc8;
	--button-invisible-borderColor-disabled: #9198a11f;
	--button-outline-fgColor-rest: #5cacff;
	--button-outline-fgColor-hover: #71b7ff;
	--button-outline-fgColor-active: #ffffff;
	--button-outline-fgColor-disabled: #74b9ff80;
	--button-outline-bgColor-rest: #f0f6fc;
	--button-outline-bgColor-hover: #2a313c;
	--button-outline-bgColor-active: #2672f3;
	--button-outline-bgColor-disabled: #262c36;
	--button-outline-borderColor-hover: #b7bdc8;
	--button-outline-borderColor-selected: #b7bdc8;
	--button-outline-shadow-selected: 0px 0px 0px 0px #000000;
	--button-danger-fgColor-rest: #ffa8a6;
	--button-danger-fgColor-hover: #ffffff;
	--button-danger-fgColor-active: #ffffff;
	--button-danger-fgColor-disabled: #ff949280;
	--button-danger-iconColor-rest: #ffa8a6;
	--button-danger-iconColor-hover: #ffffff;
	--button-danger-bgColor-rest: #262c36;
	--button-danger-bgColor-hover: #ad0116;
	--button-danger-bgColor-active: #ad0116;
	--button-danger-bgColor-disabled: #262c36;
	--button-danger-borderColor-rest: #b7bdc8;
	--button-danger-borderColor-hover: #ffb1af;
	--button-danger-borderColor-active: #ffb1af;
	--button-danger-shadow-selected: 0px 0px 0px 0px #000000;
	--button-inactive-fgColor: #b7bdc8;
	--button-inactive-bgColor: #262c36;
	--button-star-iconColor: #f7c843;
	--buttonCounter-default-bgColor-rest: #2f3742;
	--buttonCounter-invisible-bgColor-rest: #212830;
	--buttonCounter-primary-bgColor-rest: #01040926;
	--buttonCounter-outline-bgColor-rest: #194fb133;
	--buttonCounter-outline-bgColor-hover: #194fb133;
	--buttonCounter-outline-bgColor-disabled: #194fb10d;
	--buttonCounter-outline-fgColor-rest: #5cacff;
	--buttonCounter-outline-fgColor-hover: #71b7ff;
	--buttonCounter-outline-fgColor-disabled: #74b9ff80;
	--buttonCounter-danger-bgColor-hover: #01040926;
	--buttonCounter-danger-bgColor-disabled: #ad01160d;
	--buttonCounter-danger-bgColor-rest: #01040926;
	--buttonCounter-danger-fgColor-rest: #ff9492;
	--buttonCounter-danger-fgColor-hover: #ffffff;
	--buttonCounter-danger-fgColor-disabled: #ff949280;
	--reactionButton-selected-bgColor-rest: #5cacff33;
	--reactionButton-selected-bgColor-hover: #5dadff5c;
	--reactionButton-selected-fgColor-rest: #74b9ff;
	--reactionButton-selected-fgColor-hover: #91cbff;
	--focus-outlineColor: #409eff;
	--menu-bgColor-active: #151b23;
	--overlay-bgColor: #151b23;
	--overlay-borderColor: #b7bdc8;
	--overlay-backdrop-bgColor: #d1d7e066;
	--selectMenu-borderColor: #b7bdc8;
	--selectMenu-bgColor-active: #1e60d5;
	--sideNav-bgColor-selected: #212830;
	--skeletonLoader-bgColor: #151b23;
	--timelineBadge-bgColor: #212830;
	--treeViewItem-leadingVisual-iconColor-rest: #b7bdc8;
	--underlineNav-borderColor-active: #ff967d;
	--underlineNav-borderColor-hover: #b7bdc8;
	--underlineNav-iconColor-rest: #b7bdc8;
	--selection-bgColor: #194fb1b3;
	--card-bgColor: #151b23;
	--label-green-bgColor-rest: #122117;
	--label-green-bgColor-hover: #182f1f;
	--label-green-bgColor-active: #214529;
	--label-green-fgColor-rest: #41b445;
	--label-green-fgColor-hover: #46c144;
	--label-green-fgColor-active: #75d36f;
	--label-orange-bgColor-rest: #311708;
	--label-orange-bgColor-hover: #43200a;
	--label-orange-bgColor-active: #632f0d;
	--label-orange-fgColor-rest: #ed8326;
	--label-orange-fgColor-hover: #f1933b;
	--label-orange-fgColor-active: #f6b06a;
	--label-purple-bgColor-rest: #211047;
	--label-purple-bgColor-hover: #31146b;
	--label-purple-bgColor-active: #481a9e;
	--label-purple-fgColor-rest: #b687f7;
	--label-purple-fgColor-hover: #c398fb;
	--label-purple-fgColor-active: #d2affd;
	--label-red-bgColor-rest: #3c0614;
	--label-red-bgColor-hover: #58091a;
	--label-red-bgColor-active: #790c20;
	--label-red-fgColor-rest: #f27d83;
	--label-red-fgColor-hover: #f48b8d;
	--label-red-fgColor-active: #f7adab;
	--label-yellow-bgColor-rest: #2e1a00;
	--label-yellow-bgColor-hover: #3d2401;
	--label-yellow-bgColor-active: #5a3702;
	--label-yellow-fgColor-rest: #d3910d;
	--label-yellow-fgColor-hover: #df9e11;
	--label-yellow-fgColor-active: #edb431;
	--label-gray-bgColor-rest: #1c1c1c;
	--label-gray-bgColor-hover: #2a2b2d;
	--label-gray-bgColor-active: #393d41;
	--label-gray-fgColor-rest: #92a1b5;
	--label-gray-fgColor-hover: #9babbf;
	--label-gray-fgColor-active: #b3c0d1;
	--label-auburn-bgColor-rest: #271817;
	--label-auburn-bgColor-hover: #3a2422;
	--label-auburn-bgColor-active: #543331;
	--label-auburn-fgColor-rest: #bf9592;
	--label-auburn-fgColor-hover: #c6a19f;
	--label-auburn-fgColor-active: #d4b7b5;
	--label-brown-bgColor-rest: #241c14;
	--label-brown-bgColor-hover: #342a1d;
	--label-brown-bgColor-active: #483a28;
	--label-brown-fgColor-rest: #b69a6d;
	--label-brown-fgColor-hover: #bfa77d;
	--label-brown-fgColor-active: #cdbb98;
	--label-lemon-bgColor-rest: #291d00;
	--label-lemon-bgColor-hover: #372901;
	--label-lemon-bgColor-active: #4f3c02;
	--label-lemon-fgColor-rest: #ba9b12;
	--label-lemon-fgColor-hover: #c4a717;
	--label-lemon-fgColor-active: #d7bc1d;
	--label-olive-bgColor-rest: #171e0b;
	--label-olive-bgColor-hover: #252d10;
	--label-olive-bgColor-active: #374115;
	--label-olive-fgColor-rest: #a2a626;
	--label-olive-fgColor-hover: #b2af24;
	--label-olive-fgColor-active: #cbc025;
	--label-lime-bgColor-rest: #141f0f;
	--label-lime-bgColor-hover: #1f3116;
	--label-lime-bgColor-active: #2c441d;
	--label-lime-fgColor-rest: #7dae37;
	--label-lime-fgColor-hover: #89ba36;
	--label-lime-fgColor-active: #9fcc3e;
	--label-pine-bgColor-rest: #082119;
	--label-pine-bgColor-hover: #0b3224;
	--label-pine-bgColor-active: #0e4430;
	--label-pine-fgColor-rest: #1bb673;
	--label-pine-fgColor-hover: #1ac176;
	--label-pine-fgColor-active: #1bda81;
	--label-teal-bgColor-rest: #041f25;
	--label-teal-bgColor-hover: #073036;
	--label-teal-bgColor-active: #0a464d;
	--label-teal-fgColor-rest: #1cb0ab;
	--label-teal-fgColor-hover: #1fbdb2;
	--label-teal-fgColor-active: #24d6c4;
	--label-cyan-bgColor-rest: #001f29;
	--label-cyan-bgColor-hover: #002e3d;
	--label-cyan-bgColor-active: #014156;
	--label-cyan-fgColor-rest: #07ace4;
	--label-cyan-fgColor-hover: #09b7f1;
	--label-cyan-fgColor-active: #45cbf7;
	--label-indigo-bgColor-rest: #1b183f;
	--label-indigo-bgColor-hover: #25215f;
	--label-indigo-bgColor-active: #312c90;
	--label-indigo-fgColor-rest: #9899ec;
	--label-indigo-fgColor-hover: #a2a5f1;
	--label-indigo-fgColor-active: #b7baf6;
	--label-blue-bgColor-rest: #001a47;
	--label-blue-bgColor-hover: #002766;
	--label-blue-bgColor-active: #00378a;
	--label-blue-fgColor-rest: #4da0ff;
	--label-blue-fgColor-hover: #61adff;
	--label-blue-fgColor-active: #85c2ff;
	--label-plum-bgColor-rest: #2a0e3f;
	--label-plum-bgColor-hover: #40125e;
	--label-plum-bgColor-active: #5c1688;
	--label-plum-fgColor-rest: #d07ef7;
	--label-plum-fgColor-hover: #d889fa;
	--label-plum-fgColor-active: #e4a5fd;
	--label-pink-bgColor-rest: #2d1524;
	--label-pink-bgColor-hover: #451c35;
	--label-pink-bgColor-active: #65244a;
	--label-pink-fgColor-rest: #e57bb2;
	--label-pink-fgColor-hover: #ec8dbd;
	--label-pink-fgColor-active: #f4a9cd;
	--label-coral-bgColor-rest: #351008;
	--label-coral-bgColor-hover: #51180b;
	--label-coral-bgColor-active: #72220d;
	--label-coral-fgColor-rest: #f7794b;
	--label-coral-fgColor-hover: #fa8c61;
	--label-coral-fgColor-active: #fdaa86;
	--tooltip-bgColor: #ffffff;
	--tooltip-fgColor: #010409;
	--fgColor-default: #ffffff;
	--fgColor-muted: #b7bdc8;
	--fgColor-onEmphasis: #ffffff;
	--fgColor-onInverse: #010409;
	--fgColor-white: #ffffff;
	--fgColor-black: #010409;
	--fgColor-disabled: #9198a199;
	--fgColor-link: #74b9ff;
	--fgColor-neutral: #d1d7e0;
	--fgColor-accent: #74b9ff;
	--fgColor-success: #2bd853;
	--fgColor-open: #2bd853;
	--fgColor-attention: #f0b72f;
	--fgColor-severe: #fe9a2d;
	--fgColor-danger: #ff9492;
	--fgColor-closed: #ff9492;
	--fgColor-done: #d3abff;
	--fgColor-upsell: #d3abff;
	--fgColor-sponsors: #ff90c8;
	--bgColor-default: #010409;
	--bgColor-muted: #151b23;
	--bgColor-inset: #010409;
	--bgColor-emphasis: #3d444d;
	--bgColor-inverse: #ffffff;
	--bgColor-white: #ffffff;
	--bgColor-black: #010409;
	--bgColor-disabled: #262c36;
	--bgColor-transparent: #00000000;
	--bgColor-neutral-muted: #212830;
	--bgColor-neutral-emphasis: #3d444d;
	--bgColor-accent-muted: #5cacff1a;
	--bgColor-accent-emphasis: #194fb1;
	--bgColor-success-muted: #0ac74026;
	--bgColor-success-emphasis: #006222;
	--bgColor-open-muted: #0ac74026;
	--bgColor-open-emphasis: #006222;
	--bgColor-attention-muted: #edaa2726;
	--bgColor-attention-emphasis: #7b4900;
	--bgColor-severe-muted: #f48b251a;
	--bgColor-severe-emphasis: #8f3c00;
	--bgColor-danger-muted: #ff80801a;
	--bgColor-danger-emphasis: #ad0116;
	--bgColor-closed-muted: #ff80801a;
	--bgColor-closed-emphasis: #ad0116;
	--bgColor-done-muted: #bf8fff26;
	--bgColor-done-emphasis: #6921d7;
	--bgColor-upsell-muted: #bf8fff26;
	--bgColor-upsell-emphasis: #6921d7;
	--bgColor-sponsors-muted: #f87cbd1a;
	--bgColor-sponsors-emphasis: #9c1d6a;
	--borderColor-default: #b7bdc8;
	--borderColor-muted: #b7bdc8;
	--borderColor-emphasis: #b7bdc8;
	--borderColor-disabled: #9198a11f;
	--borderColor-transparent: #00000000;
	--borderColor-translucent: #2f3742;
	--borderColor-neutral-muted: #b7bdc8;
	--borderColor-neutral-emphasis: #b7bdc8;
	--borderColor-accent-muted: #5cacff;
	--borderColor-accent-emphasis: #409eff;
	--borderColor-success-muted: #0ac740;
	--borderColor-success-emphasis: #09b43a;
	--borderColor-open-muted: #0ac740;
	--borderColor-open-emphasis: #09b43a;
	--borderColor-attention-muted: #edaa27;
	--borderColor-attention-emphasis: #e09b13;
	--borderColor-severe-muted: #f48b25;
	--borderColor-severe-emphasis: #e7811d;
	--borderColor-danger-muted: #ff8080;
	--borderColor-danger-emphasis: #ff6a69;
	--borderColor-closed-muted: #ff8080;
	--borderColor-closed-emphasis: #ff6a69;
	--borderColor-done-muted: #bf8fff;
	--borderColor-done-emphasis: #b87fff;
	--borderColor-upsell-muted: #bf8fff;
	--borderColor-upsell-emphasis: #b87fff;
	--borderColor-sponsors-muted: #f87cbd;
	--borderColor-sponsors-emphasis: #ef6eb1;
	--color-ansi-black: #2f3742;
	--color-ansi-black-bright: #656c76;
	--color-ansi-white: #f0f6fc;
	--color-ansi-white-bright: #ffffff;
	--color-ansi-gray: #656c76;
	--color-ansi-red: #ff9492;
	--color-ansi-red-bright: #ffb1af;
	--color-ansi-green: #28d751;
	--color-ansi-green-bright: #4ae168;
	--color-ansi-yellow: #f0b72f;
	--color-ansi-yellow-bright: #f7c843;
	--color-ansi-blue: #71b7ff;
	--color-ansi-blue-bright: #91cbff;
	--color-ansi-magenta: #cb9eff;
	--color-ansi-magenta-bright: #dbb7ff;
	--color-ansi-cyan: #39c5cf;
	--color-ansi-cyan-bright: #56d4dd;
	--color-prettylights-syntax-comment: #9198a1;
	--color-prettylights-syntax-constant: #91cbff;
	--color-prettylights-syntax-constant-other-reference-link: #addcff;
	--color-prettylights-syntax-entity: #dbb7ff;
	--color-prettylights-syntax-storage-modifier-import: #f0f6fc;
	--color-prettylights-syntax-entity-tag: #72f088;
	--color-prettylights-syntax-keyword: #ff9492;
	--color-prettylights-syntax-string: #addcff;
	--color-prettylights-syntax-variable: #ffb757;
	--color-prettylights-syntax-brackethighlighter-unmatched: #ff8080;
	--color-prettylights-syntax-brackethighlighter-angle: #9198a1;
	--color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
	--color-prettylights-syntax-invalid-illegal-bg: #e82a2f;
	--color-prettylights-syntax-carriage-return-text: #f0f6fc;
	--color-prettylights-syntax-carriage-return-bg: #ff4445;
	--color-prettylights-syntax-string-regexp: #72f088;
	--color-prettylights-syntax-markup-list: #fbd669;
	--color-prettylights-syntax-markup-heading: #409eff;
	--color-prettylights-syntax-markup-italic: #f0f6fc;
	--color-prettylights-syntax-markup-bold: #f0f6fc;
	--color-prettylights-syntax-markup-deleted-text: #ffdedb;
	--color-prettylights-syntax-markup-deleted-bg: #cc1421;
	--color-prettylights-syntax-markup-inserted-text: #acf7b6;
	--color-prettylights-syntax-markup-inserted-bg: #007728;
	--color-prettylights-syntax-markup-changed-text: #ffe1b4;
	--color-prettylights-syntax-markup-changed-bg: #a74c00;
	--color-prettylights-syntax-markup-ignored-text: #f0f6fc;
	--color-prettylights-syntax-markup-ignored-bg: #318bf8;
	--color-prettylights-syntax-meta-diff-range: #dbb7ff;
	--color-prettylights-syntax-sublimelinter-gutter-mark: #3d444d;
	--shadow-inset: inset 0px 1px 0px 0px #0104093d;
	--shadow-resting-xsmall: 0px 1px 0px 0px #010409cc;
	--shadow-resting-small: 0px 1px 0px 0px #01040966;
	--shadow-resting-medium: 0px 3px 6px 0px #010409cc;
	--shadow-floating-small: 0px 0px 0px 1px #b7bdc8, 0px 6px 12px -3px #01040966, 0px 6px 18px 0px #01040966;
	--shadow-floating-medium: 0px 0px 0px 1px #b7bdc8, 0px 8px 16px -4px #01040966, 0px 4px 32px -4px #01040966, 0px 24px 48px -12px #01040966, 0px 48px 96px -24px #01040966;
	--shadow-floating-large: 0px 0px 0px 1px #b7bdc8, 0px 24px 48px 0px #010409;
	--shadow-floating-xlarge: 0px 0px 0px 1px #b7bdc8, 0px 32px 64px 0px #010409;
	--shadow-floating-legacy: 0px 6px 12px -3px #01040966, 0px 6px 18px 0px #01040966;
	--outline-focus: #409eff solid 2px;
	--topicTag-borderColor: #409eff;
	--highlight-neutral-bgColor: #f0b72f66;
	--page-header-bgColor: #010409;
	--diffBlob-addition-fgColor-text: #ffffff;
	--diffBlob-addition-fgColor-num: #ffffff;
	--diffBlob-addition-bgColor-num: #28d7514d;
	--diffBlob-addition-bgColor-line: #0ac74026;
	--diffBlob-addition-bgColor-word: #006222;
	--diffBlob-deletion-fgColor-text: #ffffff;
	--diffBlob-deletion-fgColor-num: #ffffff;
	--diffBlob-deletion-bgColor-num: #ff80804d;
	--diffBlob-deletion-bgColor-line: #ff808026;
	--diffBlob-deletion-bgColor-word: #ad0116;
	--diffBlob-hunk-bgColor-num: #5cacff66;
	--diffBlob-expander-iconColor: #ffffff;
	--codeMirror-fgColor: #ffffff;
	--codeMirror-bgColor: #010409;
	--codeMirror-gutters-bgColor: #010409;
	--codeMirror-gutterMarker-fgColor-default: #010409;
	--codeMirror-gutterMarker-fgColor-muted: #b7bdc8;
	--codeMirror-lineNumber-fgColor: #b7bdc8;
	--codeMirror-cursor-fgColor: #ffffff;
	--codeMirror-selection-bgColor: #5cacff66;
	--codeMirror-activeline-bgColor: #212830;
	--codeMirror-matchingBracket-fgColor: #ffffff;
	--codeMirror-lines-bgColor: #010409;
	--codeMirror-syntax-fgColor-comment: #656c76;
	--codeMirror-syntax-fgColor-constant: #91cbff;
	--codeMirror-syntax-fgColor-entity: #dbb7ff;
	--codeMirror-syntax-fgColor-keyword: #ff9492;
	--codeMirror-syntax-fgColor-storage: #ff9492;
	--codeMirror-syntax-fgColor-string: #addcff;
	--codeMirror-syntax-fgColor-support: #91cbff;
	--codeMirror-syntax-fgColor-variable: #ffb757;
	--header-fgColor-default: #ffffffb3;
	--header-fgColor-logo: #f0f6fc;
	--header-bgColor: #151b23f2;
	--header-borderColor-divider: #656c76;
	--headerSearch-bgColor: #0d1117;
	--headerSearch-borderColor: #2a313c;
	--data-blue-color-emphasis: #0576ff;
	--data-blue-color-muted: #001a47;
	--data-auburn-color-emphasis: #a86f6b;
	--data-auburn-color-muted: #271817;
	--data-orange-color-emphasis: #984b10;
	--data-orange-color-muted: #311708;
	--data-yellow-color-emphasis: #895906;
	--data-yellow-color-muted: #2e1a00;
	--data-green-color-emphasis: #2f6f37;
	--data-green-color-muted: #122117;
	--data-teal-color-emphasis: #106c70;
	--data-teal-color-muted: #041f25;
	--data-purple-color-emphasis: #975bf1;
	--data-purple-color-muted: #211047;
	--data-pink-color-emphasis: #d34591;
	--data-pink-color-muted: #2d1524;
	--data-red-color-emphasis: #eb3342;
	--data-red-color-muted: #3c0614;
	--data-gray-color-emphasis: #576270;
	--data-gray-color-muted: #1c1c1c;
	--display-blue-bgColor-muted: #001a47;
	--display-blue-bgColor-emphasis: #0046a8;
	--display-blue-fgColor: #85c2ff;
	--display-blue-borderColor-muted: #002766;
	--display-blue-borderColor-emphasis: #4da0ff;
	--display-green-bgColor-muted: #122117;
	--display-green-bgColor-emphasis: #285830;
	--display-green-fgColor: #75d36f;
	--display-green-borderColor-muted: #182f1f;
	--display-green-borderColor-emphasis: #41b445;
	--display-orange-bgColor-muted: #311708;
	--display-orange-bgColor-emphasis: #7b3c0e;
	--display-orange-fgColor: #f6b06a;
	--display-orange-borderColor-muted: #43200a;
	--display-orange-borderColor-emphasis: #ed8326;
	--display-purple-bgColor-muted: #211047;
	--display-purple-bgColor-emphasis: #5b1cca;
	--display-purple-fgColor: #d2affd;
	--display-purple-borderColor-muted: #31146b;
	--display-purple-borderColor-emphasis: #b687f7;
	--display-plum-bgColor-muted: #2a0e3f;
	--display-plum-bgColor-emphasis: #7517ab;
	--display-plum-fgColor: #e4a5fd;
	--display-plum-borderColor-muted: #40125e;
	--display-plum-borderColor-emphasis: #d07ef7;
	--display-red-bgColor-muted: #3c0614;
	--display-red-bgColor-emphasis: #990f24;
	--display-red-fgColor: #f7adab;
	--display-red-borderColor-muted: #58091a;
	--display-red-borderColor-emphasis: #f27d83;
	--display-coral-bgColor-muted: #3c0614;
	--display-coral-bgColor-emphasis: #902a0e;
	--display-coral-fgColor: #fdaa86;
	--display-coral-borderColor-muted: #58091a;
	--display-coral-borderColor-emphasis: #f7794b;
	--display-yellow-bgColor-muted: #2e1a00;
	--display-yellow-bgColor-emphasis: #6d4403;
	--display-yellow-fgColor: #edb431;
	--display-yellow-borderColor-muted: #3d2401;
	--display-yellow-borderColor-emphasis: #d3910d;
	--display-gray-bgColor-muted: #1c1c1c;
	--display-gray-bgColor-emphasis: #474e57;
	--display-gray-fgColor: #b3c0d1;
	--display-gray-borderColor-muted: #2a2b2d;
	--display-gray-borderColor-emphasis: #92a1b5;
	--display-auburn-bgColor-muted: #271817;
	--display-auburn-bgColor-emphasis: #6d4340;
	--display-auburn-fgColor: #d4b7b5;
	--display-auburn-borderColor-muted: #3a2422;
	--display-auburn-borderColor-emphasis: #bf9592;
	--display-brown-bgColor-muted: #241c14;
	--display-brown-bgColor-emphasis: #5d4a32;
	--display-brown-fgColor: #cdbb98;
	--display-brown-borderColor-muted: #342a1d;
	--display-brown-borderColor-emphasis: #b69a6d;
	--display-lemon-bgColor-muted: #291d00;
	--display-lemon-bgColor-emphasis: #614c05;
	--display-lemon-fgColor: #d7bc1d;
	--display-lemon-borderColor-muted: #372901;
	--display-lemon-borderColor-emphasis: #ba9b12;
	--display-olive-bgColor-muted: #171e0b;
	--display-olive-bgColor-emphasis: #485219;
	--display-olive-fgColor: #cbc025;
	--display-olive-borderColor-muted: #252d10;
	--display-olive-borderColor-emphasis: #a2a626;
	--display-lime-bgColor-muted: #141f0f;
	--display-lime-bgColor-emphasis: #375421;
	--display-lime-fgColor: #9fcc3e;
	--display-lime-borderColor-muted: #1f3116;
	--display-lime-borderColor-emphasis: #7dae37;
	--display-pine-bgColor-muted: #082119;
	--display-pine-bgColor-emphasis: #115a3e;
	--display-pine-fgColor: #1bda81;
	--display-pine-borderColor-muted: #0b3224;
	--display-pine-borderColor-emphasis: #1bb673;
	--display-teal-bgColor-muted: #041f25;
	--display-teal-bgColor-emphasis: #0c555a;
	--display-teal-fgColor: #24d6c4;
	--display-teal-borderColor-muted: #073036;
	--display-teal-borderColor-emphasis: #1cb0ab;
	--display-cyan-bgColor-muted: #001f29;
	--display-cyan-bgColor-emphasis: #02536f;
	--display-cyan-fgColor: #45cbf7;
	--display-cyan-borderColor-muted: #002e3d;
	--display-cyan-borderColor-emphasis: #07ace4;
	--display-indigo-bgColor-muted: #1b183f;
	--display-indigo-bgColor-emphasis: #3935c0;
	--display-indigo-fgColor: #b7baf6;
	--display-indigo-borderColor-muted: #25215f;
	--display-indigo-borderColor-emphasis: #9899ec;
	--display-pink-bgColor-muted: #2d1524;
	--display-pink-bgColor-emphasis: #842a5d;
	--display-pink-fgColor: #f4a9cd;
	--display-pink-borderColor-muted: #451c35;
	--display-pink-borderColor-emphasis: #e57bb2;
	--avatar-bgColor: #ffffff1a;
	--avatar-borderColor: #ffffffe6;
	--avatar-shadow: 0px 0px 0px 2px #0d1117;
	--avatarStack-fade-bgColor-default: #3d444d;
	--avatarStack-fade-bgColor-muted: #2a313c;
	--control-bgColor-rest: #262c36;
	--control-bgColor-hover: #2a313c;
	--control-bgColor-active: #2f3742;
	--control-bgColor-disabled: #262c36;
	--control-bgColor-selected: #262c36;
	--control-fgColor-rest: #ffffff;
	--control-fgColor-placeholder: #b7bdc8;
	--control-fgColor-disabled: #9198a199;
	--control-borderColor-rest: #b7bdc8;
	--control-borderColor-emphasis: #b7bdc8;
	--control-borderColor-disabled: #9198a11f;
	--control-borderColor-selected: #f0f6fc;
	--control-borderColor-success: #09b43a;
	--control-borderColor-danger: #ff6a69;
	--control-borderColor-warning: #e09b13;
	--control-iconColor-rest: #b7bdc8;
	--control-transparent-bgColor-rest: #00000000;
	--control-transparent-bgColor-hover: #2f3742;
	--control-transparent-bgColor-active: #3d444d;
	--control-transparent-bgColor-disabled: #262c36;
	--control-transparent-bgColor-selected: #2f3742;
	--control-transparent-borderColor-rest: #00000000;
	--control-transparent-borderColor-hover: #b7bdc8;
	--control-transparent-borderColor-active: #b7bdc8;
	--control-danger-fgColor-rest: #ff9492;
	--control-danger-fgColor-hover: #ff9492;
	--control-danger-bgColor-hover: #ad0116;
	--control-danger-bgColor-active: #c51120;
	--control-checked-bgColor-rest: #194fb1;
	--control-checked-bgColor-hover: #2b64c1;
	--control-checked-bgColor-active: #3c79d0;
	--control-checked-bgColor-disabled: #9198a199;
	--control-checked-fgColor-rest: #ffffff;
	--control-checked-fgColor-disabled: #010409;
	--control-checked-borderColor-rest: #91cbff;
	--control-checked-borderColor-hover: #91cbff;
	--control-checked-borderColor-active: #91cbff;
	--control-checked-borderColor-disabled: #9198a199;
	--controlTrack-bgColor-rest: #2a313c;
	--controlTrack-bgColor-hover: #2f3742;
	--controlTrack-bgColor-active: #3d444d;
	--controlTrack-bgColor-disabled: #9198a199;
	--controlTrack-fgColor-rest: #ffffff;
	--controlTrack-fgColor-disabled: #ffffff;
	--controlTrack-borderColor-rest: #b7bdc8;
	--controlTrack-borderColor-disabled: #9198a199;
	--controlKnob-bgColor-rest: #010409;
	--controlKnob-bgColor-disabled: #262c36;
	--controlKnob-bgColor-checked: #ffffff;
	--controlKnob-borderColor-rest: #b7bdc8;
	--controlKnob-borderColor-disabled: #262c36;
	--controlKnob-borderColor-checked: #194fb1;
	--counter-borderColor: #b7bdc8;
	--counter-bgColor-muted: #212830;
	--counter-bgColor-emphasis: #3d444d;
	--button-default-fgColor-rest: #ffffff;
	--button-default-bgColor-rest: #262c36;
	--button-default-bgColor-hover: #2a313c;
	--button-default-bgColor-active: #2f3742;
	--button-default-bgColor-selected: #2f3742;
	--button-default-bgColor-disabled: #262c36;
	--button-default-borderColor-rest: #b7bdc8;
	--button-default-borderColor-hover: #b7bdc8;
	--button-default-borderColor-active: #b7bdc8;
	--button-default-borderColor-disabled: #9198a11f;
	--button-default-shadow-resting: 0px 0px 0px 0px #000000;
	--button-primary-fgColor-rest: #ffffff;
	--button-primary-fgColor-disabled: #ffffff66;
	--button-primary-iconColor-rest: #ffffff;
	--button-primary-bgColor-rest: #006222;
	--button-primary-bgColor-hover: #08792b;
	--button-primary-bgColor-active: #109135;
	--button-primary-bgColor-disabled: #048f2f;
	--button-primary-borderColor-rest: #4ae168;
	--button-primary-borderColor-hover: #4ae168;
	--button-primary-borderColor-active: #4ae168;
	--button-primary-borderColor-disabled: #4ae16866;
	--button-primary-shadow-selected: 0px 0px 0px 0px #000000;
	--button-invisible-fgColor-rest: #ffffff;
	--button-invisible-fgColor-hover: #ffffff;
	--button-invisible-fgColor-disabled: #9198a199;
	--button-invisible-iconColor-rest: #d1d7e0;
	--button-invisible-iconColor-hover: #d1d7e0;
	--button-invisible-iconColor-disabled: #9198a199;
	--button-invisible-bgColor-rest: #00000000;
	--button-invisible-bgColor-hover: #151b23;
	--button-invisible-bgColor-active: #212830;
	--button-invisible-bgColor-disabled: #262c36;
	--button-invisible-borderColor-rest: #00000000;
	--button-invisible-borderColor-hover: #b7bdc8;
	--button-invisible-borderColor-disabled: #9198a11f;
	--button-outline-fgColor-rest: #5cacff;
	--button-outline-fgColor-hover: #71b7ff;
	--button-outline-fgColor-active: #ffffff;
	--button-outline-fgColor-disabled: #74b9ff80;
	--button-outline-bgColor-rest: #f0f6fc;
	--button-outline-bgColor-hover: #2a313c;
	--button-outline-bgColor-active: #2672f3;
	--button-outline-bgColor-disabled: #262c36;
	--button-outline-borderColor-hover: #b7bdc8;
	--button-outline-borderColor-selected: #b7bdc8;
	--button-outline-shadow-selected: 0px 0px 0px 0px #000000;
	--button-danger-fgColor-rest: #ffa8a6;
	--button-danger-fgColor-hover: #ffffff;
	--button-danger-fgColor-active: #ffffff;
	--button-danger-fgColor-disabled: #ff949280;
	--button-danger-iconColor-rest: #ffa8a6;
	--button-danger-iconColor-hover: #ffffff;
	--button-danger-bgColor-rest: #262c36;
	--button-danger-bgColor-hover: #ad0116;
	--button-danger-bgColor-active: #ad0116;
	--button-danger-bgColor-disabled: #262c36;
	--button-danger-borderColor-rest: #b7bdc8;
	--button-danger-borderColor-hover: #ffb1af;
	--button-danger-borderColor-active: #ffb1af;
	--button-danger-shadow-selected: 0px 0px 0px 0px #000000;
	--button-inactive-fgColor: #b7bdc8;
	--button-inactive-bgColor: #262c36;
	--button-star-iconColor: #f7c843;
	--buttonCounter-default-bgColor-rest: #2f3742;
	--buttonCounter-invisible-bgColor-rest: #212830;
	--buttonCounter-primary-bgColor-rest: #01040926;
	--buttonCounter-outline-bgColor-rest: #194fb133;
	--buttonCounter-outline-bgColor-hover: #194fb133;
	--buttonCounter-outline-bgColor-disabled: #194fb10d;
	--buttonCounter-outline-fgColor-rest: #5cacff;
	--buttonCounter-outline-fgColor-hover: #71b7ff;
	--buttonCounter-outline-fgColor-disabled: #74b9ff80;
	--buttonCounter-danger-bgColor-hover: #01040926;
	--buttonCounter-danger-bgColor-disabled: #ad01160d;
	--buttonCounter-danger-bgColor-rest: #01040926;
	--buttonCounter-danger-fgColor-rest: #ff9492;
	--buttonCounter-danger-fgColor-hover: #ffffff;
	--buttonCounter-danger-fgColor-disabled: #ff949280;
	--reactionButton-selected-bgColor-rest: #5cacff33;
	--reactionButton-selected-bgColor-hover: #5dadff5c;
	--reactionButton-selected-fgColor-rest: #74b9ff;
	--reactionButton-selected-fgColor-hover: #91cbff;
	--focus-outlineColor: #409eff;
	--menu-bgColor-active: #151b23;
	--overlay-bgColor: #151b23;
	--overlay-borderColor: #b7bdc8;
	--overlay-backdrop-bgColor: #d1d7e066;
	--selectMenu-borderColor: #b7bdc8;
	--selectMenu-bgColor-active: #1e60d5;
	--sideNav-bgColor-selected: #212830;
	--skeletonLoader-bgColor: #151b23;
	--timelineBadge-bgColor: #212830;
	--treeViewItem-leadingVisual-iconColor-rest: #b7bdc8;
	--underlineNav-borderColor-active: #ff967d;
	--underlineNav-borderColor-hover: #b7bdc8;
	--underlineNav-iconColor-rest: #b7bdc8;
	--selection-bgColor: #194fb1b3;
	--card-bgColor: #151b23;
	--label-green-bgColor-rest: #122117;
	--label-green-bgColor-hover: #182f1f;
	--label-green-bgColor-active: #214529;
	--label-green-fgColor-rest: #41b445;
	--label-green-fgColor-hover: #46c144;
	--label-green-fgColor-active: #75d36f;
	--label-orange-bgColor-rest: #311708;
	--label-orange-bgColor-hover: #43200a;
	--label-orange-bgColor-active: #632f0d;
	--label-orange-fgColor-rest: #ed8326;
	--label-orange-fgColor-hover: #f1933b;
	--label-orange-fgColor-active: #f6b06a;
	--label-purple-bgColor-rest: #211047;
	--label-purple-bgColor-hover: #31146b;
	--label-purple-bgColor-active: #481a9e;
	--label-purple-fgColor-rest: #b687f7;
	--label-purple-fgColor-hover: #c398fb;
	--label-purple-fgColor-active: #d2affd;
	--label-red-bgColor-rest: #3c0614;
	--label-red-bgColor-hover: #58091a;
	--label-red-bgColor-active: #790c20;
	--label-red-fgColor-rest: #f27d83;
	--label-red-fgColor-hover: #f48b8d;
	--label-red-fgColor-active: #f7adab;
	--label-yellow-bgColor-rest: #2e1a00;
	--label-yellow-bgColor-hover: #3d2401;
	--label-yellow-bgColor-active: #5a3702;
	--label-yellow-fgColor-rest: #d3910d;
	--label-yellow-fgColor-hover: #df9e11;
	--label-yellow-fgColor-active: #edb431;
	--label-gray-bgColor-rest: #1c1c1c;
	--label-gray-bgColor-hover: #2a2b2d;
	--label-gray-bgColor-active: #393d41;
	--label-gray-fgColor-rest: #92a1b5;
	--label-gray-fgColor-hover: #9babbf;
	--label-gray-fgColor-active: #b3c0d1;
	--label-auburn-bgColor-rest: #271817;
	--label-auburn-bgColor-hover: #3a2422;
	--label-auburn-bgColor-active: #543331;
	--label-auburn-fgColor-rest: #bf9592;
	--label-auburn-fgColor-hover: #c6a19f;
	--label-auburn-fgColor-active: #d4b7b5;
	--label-brown-bgColor-rest: #241c14;
	--label-brown-bgColor-hover: #342a1d;
	--label-brown-bgColor-active: #483a28;
	--label-brown-fgColor-rest: #b69a6d;
	--label-brown-fgColor-hover: #bfa77d;
	--label-brown-fgColor-active: #cdbb98;
	--label-lemon-bgColor-rest: #291d00;
	--label-lemon-bgColor-hover: #372901;
	--label-lemon-bgColor-active: #4f3c02;
	--label-lemon-fgColor-rest: #ba9b12;
	--label-lemon-fgColor-hover: #c4a717;
	--label-lemon-fgColor-active: #d7bc1d;
	--label-olive-bgColor-rest: #171e0b;
	--label-olive-bgColor-hover: #252d10;
	--label-olive-bgColor-active: #374115;
	--label-olive-fgColor-rest: #a2a626;
	--label-olive-fgColor-hover: #b2af24;
	--label-olive-fgColor-active: #cbc025;
	--label-lime-bgColor-rest: #141f0f;
	--label-lime-bgColor-hover: #1f3116;
	--label-lime-bgColor-active: #2c441d;
	--label-lime-fgColor-rest: #7dae37;
	--label-lime-fgColor-hover: #89ba36;
	--label-lime-fgColor-active: #9fcc3e;
	--label-pine-bgColor-rest: #082119;
	--label-pine-bgColor-hover: #0b3224;
	--label-pine-bgColor-active: #0e4430;
	--label-pine-fgColor-rest: #1bb673;
	--label-pine-fgColor-hover: #1ac176;
	--label-pine-fgColor-active: #1bda81;
	--label-teal-bgColor-rest: #041f25;
	--label-teal-bgColor-hover: #073036;
	--label-teal-bgColor-active: #0a464d;
	--label-teal-fgColor-rest: #1cb0ab;
	--label-teal-fgColor-hover: #1fbdb2;
	--label-teal-fgColor-active: #24d6c4;
	--label-cyan-bgColor-rest: #001f29;
	--label-cyan-bgColor-hover: #002e3d;
	--label-cyan-bgColor-active: #014156;
	--label-cyan-fgColor-rest: #07ace4;
	--label-cyan-fgColor-hover: #09b7f1;
	--label-cyan-fgColor-active: #45cbf7;
	--label-indigo-bgColor-rest: #1b183f;
	--label-indigo-bgColor-hover: #25215f;
	--label-indigo-bgColor-active: #312c90;
	--label-indigo-fgColor-rest: #9899ec;
	--label-indigo-fgColor-hover: #a2a5f1;
	--label-indigo-fgColor-active: #b7baf6;
	--label-blue-bgColor-rest: #001a47;
	--label-blue-bgColor-hover: #002766;
	--label-blue-bgColor-active: #00378a;
	--label-blue-fgColor-rest: #4da0ff;
	--label-blue-fgColor-hover: #61adff;
	--label-blue-fgColor-active: #85c2ff;
	--label-plum-bgColor-rest: #2a0e3f;
	--label-plum-bgColor-hover: #40125e;
	--label-plum-bgColor-active: #5c1688;
	--label-plum-fgColor-rest: #d07ef7;
	--label-plum-fgColor-hover: #d889fa;
	--label-plum-fgColor-active: #e4a5fd;
	--label-pink-bgColor-rest: #2d1524;
	--label-pink-bgColor-hover: #451c35;
	--label-pink-bgColor-active: #65244a;
	--label-pink-fgColor-rest: #e57bb2;
	--label-pink-fgColor-hover: #ec8dbd;
	--label-pink-fgColor-active: #f4a9cd;
	--label-coral-bgColor-rest: #351008;
	--label-coral-bgColor-hover: #51180b;
	--label-coral-bgColor-active: #72220d;
	--label-coral-fgColor-rest: #f7794b;
	--label-coral-fgColor-hover: #fa8c61;
	--label-coral-fgColor-active: #fdaa86;
	--tooltip-bgColor: #ffffff;
	--tooltip-fgColor: #010409;
	--fgColor-default: #ffffff;
	--fgColor-muted: #b7bdc8;
	--fgColor-onEmphasis: #ffffff;
	--fgColor-onInverse: #010409;
	--fgColor-white: #ffffff;
	--fgColor-black: #010409;
	--fgColor-disabled: #9198a199;
	--fgColor-link: #74b9ff;
	--fgColor-neutral: #d1d7e0;
	--fgColor-accent: #74b9ff;
	--fgColor-success: #2bd853;
	--fgColor-open: #2bd853;
	--fgColor-attention: #f0b72f;
	--fgColor-severe: #fe9a2d;
	--fgColor-danger: #ff9492;
	--fgColor-closed: #ff9492;
	--fgColor-done: #d3abff;
	--fgColor-upsell: #d3abff;
	--fgColor-sponsors: #ff90c8;
	--bgColor-default: #010409;
	--bgColor-muted: #151b23;
	--bgColor-inset: #010409;
	--bgColor-emphasis: #3d444d;
	--bgColor-inverse: #ffffff;
	--bgColor-white: #ffffff;
	--bgColor-black: #010409;
	--bgColor-disabled: #262c36;
	--bgColor-transparent: #00000000;
	--bgColor-neutral-muted: #212830;
	--bgColor-neutral-emphasis: #3d444d;
	--bgColor-accent-muted: #5cacff1a;
	--bgColor-accent-emphasis: #194fb1;
	--bgColor-success-muted: #0ac74026;
	--bgColor-success-emphasis: #006222;
	--bgColor-open-muted: #0ac74026;
	--bgColor-open-emphasis: #006222;
	--bgColor-attention-muted: #edaa2726;
	--bgColor-attention-emphasis: #7b4900;
	--bgColor-severe-muted: #f48b251a;
	--bgColor-severe-emphasis: #8f3c00;
	--bgColor-danger-muted: #ff80801a;
	--bgColor-danger-emphasis: #ad0116;
	--bgColor-closed-muted: #ff80801a;
	--bgColor-closed-emphasis: #ad0116;
	--bgColor-done-muted: #bf8fff26;
	--bgColor-done-emphasis: #6921d7;
	--bgColor-upsell-muted: #bf8fff26;
	--bgColor-upsell-emphasis: #6921d7;
	--bgColor-sponsors-muted: #f87cbd1a;
	--bgColor-sponsors-emphasis: #9c1d6a;
	--borderColor-default: #b7bdc8;
	--borderColor-muted: #b7bdc8;
	--borderColor-emphasis: #b7bdc8;
	--borderColor-disabled: #9198a11f;
	--borderColor-transparent: #00000000;
	--borderColor-translucent: #2f3742;
	--borderColor-neutral-muted: #b7bdc8;
	--borderColor-neutral-emphasis: #b7bdc8;
	--borderColor-accent-muted: #5cacff;
	--borderColor-accent-emphasis: #409eff;
	--borderColor-success-muted: #0ac740;
	--borderColor-success-emphasis: #09b43a;
	--borderColor-open-muted: #0ac740;
	--borderColor-open-emphasis: #09b43a;
	--borderColor-attention-muted: #edaa27;
	--borderColor-attention-emphasis: #e09b13;
	--borderColor-severe-muted: #f48b25;
	--borderColor-severe-emphasis: #e7811d;
	--borderColor-danger-muted: #ff8080;
	--borderColor-danger-emphasis: #ff6a69;
	--borderColor-closed-muted: #ff8080;
	--borderColor-closed-emphasis: #ff6a69;
	--borderColor-done-muted: #bf8fff;
	--borderColor-done-emphasis: #b87fff;
	--borderColor-upsell-muted: #bf8fff;
	--borderColor-upsell-emphasis: #b87fff;
	--borderColor-sponsors-muted: #f87cbd;
	--borderColor-sponsors-emphasis: #ef6eb1;
	--color-ansi-black: #2f3742;
	--color-ansi-black-bright: #656c76;
	--color-ansi-white: #f0f6fc;
	--color-ansi-white-bright: #ffffff;
	--color-ansi-gray: #656c76;
	--color-ansi-red: #ff9492;
	--color-ansi-red-bright: #ffb1af;
	--color-ansi-green: #28d751;
	--color-ansi-green-bright: #4ae168;
	--color-ansi-yellow: #f0b72f;
	--color-ansi-yellow-bright: #f7c843;
	--color-ansi-blue: #71b7ff;
	--color-ansi-blue-bright: #91cbff;
	--color-ansi-magenta: #cb9eff;
	--color-ansi-magenta-bright: #dbb7ff;
	--color-ansi-cyan: #39c5cf;
	--color-ansi-cyan-bright: #56d4dd;
	--color-prettylights-syntax-comment: #9198a1;
	--color-prettylights-syntax-constant: #91cbff;
	--color-prettylights-syntax-constant-other-reference-link: #addcff;
	--color-prettylights-syntax-entity: #dbb7ff;
	--color-prettylights-syntax-storage-modifier-import: #f0f6fc;
	--color-prettylights-syntax-entity-tag: #72f088;
	--color-prettylights-syntax-keyword: #ff9492;
	--color-prettylights-syntax-string: #addcff;
	--color-prettylights-syntax-variable: #ffb757;
	--color-prettylights-syntax-brackethighlighter-unmatched: #ff8080;
	--color-prettylights-syntax-brackethighlighter-angle: #9198a1;
	--color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
	--color-prettylights-syntax-invalid-illegal-bg: #e82a2f;
	--color-prettylights-syntax-carriage-return-text: #f0f6fc;
	--color-prettylights-syntax-carriage-return-bg: #ff4445;
	--color-prettylights-syntax-string-regexp: #72f088;
	--color-prettylights-syntax-markup-list: #fbd669;
	--color-prettylights-syntax-markup-heading: #409eff;
	--color-prettylights-syntax-markup-italic: #f0f6fc;
	--color-prettylights-syntax-markup-bold: #f0f6fc;
	--color-prettylights-syntax-markup-deleted-text: #ffdedb;
	--color-prettylights-syntax-markup-deleted-bg: #cc1421;
	--color-prettylights-syntax-markup-inserted-text: #acf7b6;
	--color-prettylights-syntax-markup-inserted-bg: #007728;
	--color-prettylights-syntax-markup-changed-text: #ffe1b4;
	--color-prettylights-syntax-markup-changed-bg: #a74c00;
	--color-prettylights-syntax-markup-ignored-text: #f0f6fc;
	--color-prettylights-syntax-markup-ignored-bg: #318bf8;
	--color-prettylights-syntax-meta-diff-range: #dbb7ff;
	--color-prettylights-syntax-sublimelinter-gutter-mark: #3d444d;
	--shadow-inset: inset 0px 1px 0px 0px #0104093d;
	--shadow-resting-xsmall: 0px 1px 0px 0px #010409cc;
	--shadow-resting-small: 0px 1px 0px 0px #01040966;
	--shadow-resting-medium: 0px 3px 6px 0px #010409cc;
	--shadow-floating-small: 0px 0px 0px 1px #b7bdc8, 0px 6px 12px -3px #01040966, 0px 6px 18px 0px #01040966;
	--shadow-floating-medium: 0px 0px 0px 1px #b7bdc8, 0px 8px 16px -4px #01040966, 0px 4px 32px -4px #01040966, 0px 24px 48px -12px #01040966, 0px 48px 96px -24px #01040966;
	--shadow-floating-large: 0px 0px 0px 1px #b7bdc8, 0px 24px 48px 0px #010409;
	--shadow-floating-xlarge: 0px 0px 0px 1px #b7bdc8, 0px 32px 64px 0px #010409;
	--shadow-floating-legacy: 0px 6px 12px -3px #01040966, 0px 6px 18px 0px #01040966;
	--outline-focus: #409eff solid 2px;
}
