/*
 * Fan chart by Rico Sonntag
 */

.webtrees-fan-chart-container svg g.person g.arc path {
    fill: var(--bgColor-transparent) !important;
    stroke: var(--borderColor-muted) !important;
}

.webtrees-fan-chart-container svg g.person.available g.arc path {
    fill: var(--bgColor-muted) !important;
}

.webtrees-fan-chart-container svg .wt-chart-box-name {
    fill: var(--fgColor-default) !important;
    font-weight: 500;
}

.webtrees-fan-chart-container svg g.name .date {
    fill: var(--fgColor-neutral) !important;
}

.webtrees-fan-chart-container svg g.person g.color path.female {
    fill: var(--data-pink-color-emphasis) !important;
}

.webtrees-fan-chart-container svg g.person g.color path.male {
    fill: var(--data-blue-color-emphasis) !important;
}

.webtrees-fan-chart-container svg g.person g.color path.unknown {
    fill: var(--data-gray-color-emphasis) !important;
}

/*
 * Timeline
 */

[dir] .person0 {
    color: var(--fgColor-default);
    background-color: var(--bgColor-muted);
}

[dir] .person0, [dir] .person1, [dir] .person2, [dir] .person3, [dir] .person4, [dir] .person5 {
    border: var(--borderWidth-thin) solid var(--borderColor-emphasis);
    border-radius: var(--borderRadius-medium);
}

/*
 * Statistics chart
 */

.wt-statistics-chart .d-grid .card-body svg > g > rect {
    fill: transparent;
}

.wt-statistics-chart .card-body svg g path {
    stroke: var(--borderColor-muted);
}

.wt-statistics-chart .card-body svg g g text {
    fill: var(--fgColor-default);
}

.wt-statistics-chart .card-body svg g g path {
    stroke: var(--borderColor-emphasis);
}

.wt-statistics-chart .card-body svg g g circle {
    fill: var(--borderColor-emphasis);
}