/*
 * Pages have the following high-level structure:
 *
 * wt-global wt-theme-<THEME> wt-route-<ROUTE>
 * +---wt-header-wrapper
 * |   +---wt-header-container
 * |       +---wt-header-content
 * |           +---wt-accessibility-links
 * |           +---wt-site-logo
 * |           +---wt-site-title
 * |           +---wt-header-search
 * |           |   +---wt-header-search-form
 * |           |       +---wt-header-search-field
 * |           |       +---wt-header-search-button
 * |           +---wt-secondary-navigation
 * |           |   +---wt-user-menu
 * |           +---wt-primary-navigation
 * |               +---wt-genealogy-menu
 * +---wt-main-wrapper
 * |   +---wt-main-container
 * |       +---wt-main-content
 * |           +---wt-messages
 * |           +---wt-page-title
 * |           +---wt-page-options wt-page-options-xxxxx
 * |           +---wt-page-content
 * +---wt-footers
 *     +---wt-footer wt-footer-xxxxx
 */

:root {
    --bs-alert-bg: var(--bgColor-danger-emphasis);
    --bs-body-bg: var(--bgColor-default);
    --bs-body-color: var(--fgColor-default);
    --bs-body-font-size: var(--body-font-size);
    --bs-border-color: var(--borderColor-default);
    --bs-border-color-translucent: var(--borderColor-translucent);
    --bs-border-radius: var(--borderRadius-default);
    --bs-btn-bg: var(--button-default-bgColor-rest);
    --bs-danger-bg-subtle: var(--bgColor-danger-muted);
    --bs-danger-border-subtle: var(--borderColor-danger-muted);
    --bs-danger-text-emphasis: var(--fgColor-danger);
    --bs-dropdown-bg: var(--overlay-bgColor);
    --bs-dropdown-font-size: var(--bs-body-font-size);
    --bs-dropdown-link-active-bg: var(--bs-link-color);
    --bs-emphasis-color: var(--bs-link-color);
    --bs-font-sans-serif: var(--fontStack-sansSerif);
    --bs-form-check-bg: var(--control-checked-bgColor-rest);
    --bs-info-bg-subtle: var(--bgColor-accent-muted);
    --bs-info-border-subtle: var(--borderColor-accent-muted);
    --bs-info-text-emphasis: var(--fgColor-default);
    --bs-heading-color: var(--bs-body-color);
    --bs-link-color: var(--fgColor-default);
    --bs-link-decoration: none;
    --bs-link-hover-color: var(--fgColor-accent);
    --bs-link-hover-decoration: underline;
    --bs-nav-link-font-size: var(--bs-body-font-size);
    --bs-nav-tabs-link-active-color: var(--fgColor-default);
    --bs-secondary-bg: var(--bs-body-bg);
    --bs-secondary-color: var(--fgColor-muted);
    --bs-table-border-color: var(--bs-border-color);
    --bs-tertiary-bg: var(--button-default-bgColor-rest);
    --dt-html-background: var(--bs-body-bg);
    --link-color-hover: var(--fgColor-accent);
    --link-color: var(--bs-link-color);
    --link-decoration: var(--bs-link-decoration);
    --sex-f-bg: var(--data-pink-color-muted);
    --sex-f-fg: var(--data-pink-color-emphasis);
    --sex-m-bg: var(--data-blue-color-muted);
    --sex-m-fg: var(--data-blue-color-emphasis);
    --sex-u-bg: var(--data-gray-color-muted);
    --sex-u-fg: var(--data-gray-color-emphasis);
    --sex-x-bg: var(--data-gray-color-muted);
    --sex-x-fg: var(--data-gray-color-emphasis);
}

@media (min-width: 992px) {
    .container-lg {
        max-width: inherit;
    }
}

@media (min-width: 1200px) {
    .container-lg {
        max-width: inherit;
    }
}

@media (min-width: 1400px) {
    .container-lg {
        max-width: 1400px;
    }
}

.wt-user-menu {
    flex-wrap: wrap;
}

.form-select {
    font-size: var(--body-font-size);
}

.wt-header-container {
    max-width: none;
}

.alert-info {
    --bs-alert-link-color: var(--fgColor-link);
}

.pagination {
    --bs-pagination-active-color: var(--fgColor-onEmphasis);
    --bs-pagination-active-bg: var(--bgColor-accent-emphasis);
    --bs-pagination-active-border-color: var(--focus-outlineColor);
    --bs-pagination-disabled-color: var(--fgColor-disabled);
    --bs-pagination-focus-box-shadow: none;
}

[dir] .form-control:focus, [dir] .form-select:focus {
    border-color: var(--focus-outlineColor);
    box-shadow: 0 0 0 2px var(--focus-outlineColor);
}

[dir] .badge.bg-secondary {
    --bs-badge-color: var(--fgColor-default);
    background-color: var(--bgColor-neutral-muted) !important;
}

input[type="range"] {
    accent-color: var(--control-checked-bgColor-rest);
}

[dir] .wt-facts-table .wt-sex-f td {
    background-color: var(--sex-f-bg);
}

[dir] .wt-facts-table .wt-sex-m td {
    background-color: var(--sex-m-bg);
}

.wt-footer {
    font-size: var(--h6-size, 12px) !important;
    color: var(--fgColor-muted);
    --link-color: var(--fgColor-muted);
}

[dir] .odometer {
    background: var(--bgColor-neutral-muted);
}

.odometer {
    border: var(--borderWidth-thin) solid var(--counter-borderColor);
    border-radius: 2em;
    color: var(--fgColor-default);
    font-family: inherit;
    font-size: var(--text-body-size-small);
    font-weight: var(--base-text-weight-medium);
    padding: 0 6px;
    text-align: center;
}

.Counter {
    display: inline-block;
    line-height: calc(var(--base-size-20) - var(--borderWidth-thin)*2);
    min-width: var(--base-size-20);
}

.wt-initial.active {
    color: var(--fgColor-onEmphasis);
}

[dir] .nav-tabs .nav-link.active {
    font-weight: var(--base-text-weight-semibold);
    border: none;
    border-bottom-color: var(--underlineNav-borderColor-active);
    border-bottom-width: var(--borderWidth-thick);
    border-bottom-style: solid;
}

[dir] .dropdown-item {
    color: var(--control-fgColor-rest);
}

[dir] .dropdown-item.active, [dir] .dropdown-item:active {
    background-color: var(--control-transparent-bgColor-selected);
}

[dir] .dropdown-item:hover, [dir] .dropdown-item.active:hover, [dir] span.twitter-typeahead .tt-suggestion:focus, [dir] span.twitter-typeahead .tt-suggestion:hover {
    background-color: var(--control-transparent-bgColor-hover);
    color: var(--control-fgColor-rest);
}

.dropdown-item.active:focus, .dropdown-item.active:hover, span.twitter-typeahead .active.tt-suggestion, span.twitter-typeahead .active.tt-suggestion:focus, span.twitter-typeahead .active.tt-suggestion:hover, span.twitter-typeahead .tt-suggestion.tt-cursor, span.twitter-typeahead .tt-suggestion.tt-cursor:focus, span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
    background-color: var(--control-transparent-bgColor-selected);
    color: var(--control-fgColor-rest);
}

[dir] .form-control {
    background-color: var(--bgColor-muted, var(--color-canvas-inset));
    font-size: var(--bs-body-font-size);
}

[dir] .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238F95A0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

[dir] .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238F95A0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

[dir] .accordion-button:focus {
    box-shadow: 1px 1px #30363D !important;
}

.wt-site-title {
    font-size: var(--body-font-size);
}

.wt-page-title {
    font-size: var(--h3-size);
}

.wt-genealogy-menu {
    justify-content: left;
}

[dir] .wt-global, [dir] ::backdrop {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    font-size: var(--body-font-size);
}

.wt-global, ::backdrop {
    color: var(--bs-body-color);
}

[dir] .form-check-input {
    color: var(--fgColor-default);
    background-color: var(--bgColor-default);
    border: var(--borderWidth-thin) solid var(--control-borderColor-rest, var(--color-border-default));
}

[dir] .form-check-input:checked {
    background-color: var(--control-checked-bgColor-rest, var(--color-accent-fg));
    border-color: var(--control-checked-borderColor-rest, var(--color-accent-fg));
    transition: background-color, border-color 80ms cubic-bezier(0.32, 0, 0.67, 0) 0ms;
}

input[type="search"] {
    background-color: transparent;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: 0.25rem 0.5rem;
}

.ts-control, .ts-control input, .ts-dropdown {
    color: var(--bs-body-color);
}

[dir] .wt-header-wrapper {
    background: var(--bgColor-inset);
}

#quick-search {
    background: transparent;
    border-radius: var(--bs-border-radius);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

[dir] .wt-primary-navigation {
    border-bottom-width: var(--borderWidth-thin);
    border-color: var(--bs-border-color);
}

[dir] .table {
    margin-bottom: 0.75rem;
}

[dir] .wt-facts-table {
    border-collapse: separate;
}

[dir] .wt-facts-table tr > * {
    border: none;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    color: var(--bs-body-color);
}

[dir] .wt-facts-table th {
    background-color: var(--bgColor-muted);
    border-radius: 4px;
    text-align: center;
}

[dir] .wt-facts-table td {
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

[dir] .wt-facts-table tr > :first-child {
    border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

[dir] .wt-facts-table tr:first-child > :first-child {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-top-left-radius: var(--bs-border-radius);
}

[dir] .wt-facts-table tr:first-child > :last-child {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-top-right-radius: var(--bs-border-radius);
}

[dir] .wt-facts-table tr:last-child > :first-child {
    border-bottom-left-radius: var(--bs-border-radius);
}

[dir] .wt-facts-table tr:last-child > :last-child {
    border-bottom-right-radius: var(--bs-border-radius);
}

table {
    border-color: var(--bs-border-color);
    border-spacing: 2px;
    border-collapse: collapse;
}

[dir] .accordion {
    border-color: var(--bs-border-color);
    border-spacing: 0px;
    border-collapse: collapse;
}

[dir] .accordion-item {
    border-color: var(--bs-border-color);
    border-spacing: 0px;
    border-collapse: collapse;
    overflow: hidden;
}

[dir] .accordion-header {
    background-color: var(--bgColor-muted);
    color: var(--bs-body-color);
}

[dir] .accordion-body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}

[dir] .img-thumbnail {
    border-color: var(--bs-border-color);
    padding: 0;
}

[dir] .wt-block-header {
    background-color: var(--bgColor-muted);
}

[dir] .wt-block {
    border-color: var(--bs-border-color);
}

[dir] .wt-chart-box-m, [dir] .wt-chart-box-m .wt-chart-box-dropdown {
    background: var(--bs-body-bg);
    background: var(--sex-m-bg);
    border-color: var(--bs-border-color);
}

[dir] .wt-chart-box-f, [dir] .wt-chart-box-f .wt-chart-box-dropdown {
    background: var(--bs-body-bg);
    background: var(--sex-f-bg);
    border-color: var(--bs-border-color);
}

[dir] .wt-facts-table label {
    margin-right: var(--base-size-8);
}

.nav-link:hover {
    color: var(--bs-link-color);
    text-decoration: none;
    border-top-color: transparent;
}

.nav-tabs {
    --bs-nav-tabs-link-hover-border-color: transparent;
}

.nav-link {
    color: var(--fgColor-default);
}

[dir] .nav-link {
    transition: none;
}

.wt-header-search {
    padding-bottom: 0.5rem;
}

.wt-primary-navigation .nav-link, [dir] .wt-user-menu .nav-link, [dir] .wt-genealogy-menu .nav-link {
    color: var(--bs-body-color);
    padding: .25rem .5rem;
    margin: 0 .5rem .5rem 0;
}

.wt-primary-navigation .nav-link:hover, .wt-user-menu .nav-link:hover {
    background: var(--control-transparent-bgColor-hover);
    border-radius: var(--bs-border-radius);
}

[dir] .wt-secondary-navigation {
    padding-left: 0;
}

.dropdown-menu {
    font-size: var(--bs-body-font-size);
    --bs-dropdown-bg: var(--overlay-bgColor);
    --bs-dropdown-link-active-bg: var(--control-transparent-bgColor-selected);
    --bs-dropdown-border-color: var(--bs-border-color);
    --bs-dropdown-divider-bg: var(--borderColor-muted);
}

[dir] .btn {
    font-weight: 500;
    --bs-btn-bg: var(--button-default-bgColor-rest);
    --bs-btn-font-size: var(--body-font-size);
}

[dir] .btn-primary {
    --bs-btn-color: var(--button-primary-fgColor-rest);
    --bs-btn-hover-color: var(--button-primary-fgColor-rest);
    --bs-btn-active-color: var(--button-primary-fgColor-rest);
    --bs-btn-bg: var(--button-primary-bgColor-rest);
    --bs-btn-hover-bg: var(--button-primary-bgColor-hover);
    --bs-btn-active-bg: var(--button-primary-bgColor-active);
    --bs-btn-border-color: var(--button-primary-borderColor-rest);
    --bs-btn-hover-border-color: var(--button-primary-borderColor-hover);
    --bs-btn-active-border-color: var(--button-primary-borderColor-active);
}

[dir] .btn-secondary {
    --bs-btn-color: var(--button-default-fgColor-rest);
    --bs-btn-hover-color: var(--button-default-fgColor-rest);
    --bs-btn-active-color: var(--button-default-fgColor-rest);
    --bs-btn-bg: var(--button-default-bgColor-rest);
    --bs-btn-hover-bg: var(--button-default-bgColor-hover);
    --bs-btn-active-bg: var(--button-default-bgColor-active);
    --bs-btn-border-color: var(--button-default-borderColor-rest);
    --bs-btn-hover-border-color: var(--button-default-borderColor-hover);
    --bs-btn-active-border-color: var(--button-default-borderColor-active);
}

.btn-outline-secondary {
    --bs-btn-color: var(--button-default-fgColor-rest);
    --bs-btn-border-color: var(--button-default-borderColor-rest);
    --bs-btn-hover-color: var(--button-default-fgColor-rest);
    --bs-btn-hover-bg: var(--button-default-bgColor-hover);
    --bs-btn-hover-border-color: var(--button-default-borderColor-hover);
    --bs-btn-active-color: var(--button-default-fgColor-rest);
    --bs-btn-active-bg: var(--button-default-bgColor-active);
    --bs-btn-active-border-color: var(--button-default-borderColor-active);
    --bs-btn-active-shadow: var(--button-default-shadow-resting);
    --bs-btn-disabled-color: var(--button-inactive-fgColor);
    --bs-btn-disabled-bg: var(--button-inactive-bgColor);
    --bs-btn-disabled-border-color: var(--button-default-borderColor-disabled);
}

a.btn.btn-outline-secondary:hover {
    text-decoration: none;
}

[dir] .btn.btn-link {
    --bs-btn-bg: transparent;
    --bs-btn-hover-bg: var(--control-transparent-bgColor-hover);
    font-size: var(--base-size-16);
}

[dir] a.btn.btn-link:hover {
    color: var(--link-color);
}

[dir] span.twitter-typeahead .tt-dropdown-menu, [dir] span.twitter-typeahead .tt-menu {
    background-color: var(--overlay-bgColor);
    border: var(--borderWidth-thin) solid var(--bs-border-color);
    border-radius: var(--borderRadius-large);
    box-shadow: var(--shadow-floating-small);
    color: var(--fgColor-default);
}

span.twitter-typeahead .tt-suggestion {
    color: var(--fgColor-muted);
}

[dir] .dropdown-item.active:focus, [dir] .dropdown-item.active:hover, [dir] span.twitter-typeahead .active.tt-suggestion, [dir] span.twitter-typeahead .active.tt-suggestion:focus, [dir] span.twitter-typeahead .active.tt-suggestion:hover, [dir] span.twitter-typeahead .tt-suggestion.tt-cursor, [dir] span.twitter-typeahead .tt-suggestion.tt-cursor:focus, [dir] span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
    background-color: var(--control-transparent-bgColor-hover);
}

[dir] table.faq, [dir] table.faq tr:nth-child(odd) td, [dir] div.faq_title {
    background-color: transparent;
}

[dir] .mb-4 {
    margin-bottom: 0.875rem !important;
}

.row {
    --bs-gutter-x: 1rem;
}

.wt-page-options .wt-page-options-value {
    margin-bottom: 5px;
}

input {
    color: var(--bs-body-color);
}


[dir] kbd {
    color: var(--bs-body-color);
    background-color: var(--bs-tertiary-bg);
}

.starredname {
    text-decoration: underline;
}

[dir] #cboxOverlay {
    background: var(--overlay-backdrop-bgColor);
}

[dir] #cboxContent {
    background: var(--overlay-bgColor);
    border: var(--borderWidth-thin) solid var(--bs-border-color);
    border-radius: var(--borderRadius-large);
}

[dir] #cboxTitle {
    background: transparent;
    height: var(--base-size-32);
    line-height: var(--base-size-32);
}

[dir] #cboxClose, [dir] #cboxNext, [dir] #cboxPrevious, [dir] #cboxSlideshow {
    color: var(--fgColor-muted);
    background: transparent;
    border-radius: var(--borderRadius-medium);
    width: var(--base-size-32);
    height: var(--base-size-32);
}

[dir] #cboxClose:hover, [dir] #cboxNext:hover, [dir] #cboxPrevious:hover, [dir] #cboxSlideshow:hover {
    background-color: var(--button-default-bgColor-hover);
    border-radius: var(--borderRadius-medium);
}
